footer
	padding: 0 1em
	margin-top: 5vh
	margin-bottom: 5vh
	border-style: solid none none none
	border-width: $thinBorder
	border-color: $ink
	display: flex
	flex-flow: column nowrap
	justify-content: space-evenly
	align-content: center
	flex-basis: auto

	nav
		flex-basis: content
		align-self: center
		align-content: space-around

		a
			text-decoration: none

		.email
			color: $ink
			background-color: white
			padding: 0px 5px 0px 5px
			border-color: $ink
			border-style: solid
			border-width: $thickBorder
			transition: background-color 1s, color 1s
			transition-timing-function: $timingFunction

			&:hover
				color: white
				background-color: $ink

		.social
			display: flex
			flex-flow: row nowrap
			justify-content: space-evenly
			font-size: 30px
			letter-spacing: 5px

			a
				color: $ink

				&:hover
					color: $lightInk

