header
	padding: 0 1em
	border-style: none none solid none
	border-width: $thinBorder
	border-color: $ink
	display: flex
	flex-flow: column nowrap
	justify-content: space-evenly
	align-content: center
	flex-basis: auto

	nav
		color: $ink
		flex-basis: content
		align-self: center
		align-content: space-around

		a
			text-decoration: none

		.title
			color: $ink
			background-color: white
			padding: 0px 5px 0px 5px
			border-color: $ink
			border-style: solid
			border-width: $thickBorder
			transition: background-color 1s, color 1s
			transition-timing-function: $timingFunction
			font-size: 30px

			&:hover
				color: white
				background-color: $ink

		.sections
			display: flex
			flex-flow: row nowrap
			justify-content: space-evenly
			font-size: 15px

			a:hover
				text-decoration: underline

